<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
	  <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=NAUT;TNS_ADMIN=C:\app\client\product\12.2.0\client_1\network\admin;PASSWORD=lims;PERSIST SECURITY INFO=True;USER ID=LIMS&quot;" providerName="System.Data.EntityClient" />

	  <add name="connectionString" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=naut;password=lims;persist security info=True;user id=LIMS&quot;" />
    <add name="connectionStringOracle" connectionString="data source=naut;password=lims;persist security info=True;user id=LIMS" />
  </connectionStrings>
  <appSettings>
    <add key="maxPrintAttempts" value="4" />
    <add key="ghostscriptgswin32cFullPath" value="C:\Program Files (x86)\gs\gs9.20\bin\gswin32c.exe" />
    <add key="ghostscriptArguments" value="-sDEVICE=pdfwrite -dCompatibilityLevel=1.4  -dEmbedAllFonts=true -dSubsetFonts=true -dCompressFonts=true  -dPDFUseOldCMS=false -dPDFSETTINGS=/ebook -dCompressPages=true -dNOPAUSE -dQUIET -dBATCH " />
    <add key="ghostscriptArgumentslast" value="-sDEVICE=pdfwrite -dCompatibilityLevel=1.4  -dEmbedAllFonts=true  -dSubsetFonts=true -dCompressFonts=true -dPDFUseOldCMS=false -dPDFSETTINGS=/ebook -dOverrideICC -sProcessColorModel=DeviceGray -sColorConversionStrategy=Gray -dCompressPages=true -dNOPAUSE -dQUIET -dBATCH  -c &quot;.setpdfwrite &lt;&lt;/AlwaysEmbed [ ]&gt;&gt; setdistillerparams&quot; -c &quot;.setpdfwrite &lt;&lt;/NeverEmbed [/Courier /Courier-Bold /Courier-Oblique /Courier-BoldOblique /Helvetica /Helvetica-Bold /Helvetica-Oblique /Helvetica-BoldOblique /Times-Roman /Times-Bold /Times-Italic /Times-BoldItalic /Symbol /Arial]&gt;&gt; setdistillerparams&quot;" />
    <add key="ghostscriptWatermarkArguments" value="-sDEVICE=pdfwrite -dCompatibilityLevel=1.4  -dEmbedAllFonts=true -dSubsetFonts=true -dCompressFonts=true  -dPDFUseOldCMS=false -dPDFSETTINGS=/ebook -dCompressPages=true -dNOPAUSE -dQUIET -dBATCH " />
    <add key="ghostscriptWatermarkArgumentslast" value="-sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dEmbedAllFonts=false  -dSubsetFonts=true -dCompressFonts=true -dPDFUseOldCMS=false -dPDFSETTINGS=/ebook -dOverrideICC -sProcessColorModel=DeviceGray -sColorConversionStrategy=Gray -dCompressPages=true -dNOPAUSE -dQUIET -dBATCH  -c &quot;.setpdfwrite &lt;&lt;/AlwaysEmbed [ ]&gt;&gt; setdistillerparams&quot; -c &quot;.setpdfwrite &lt;&lt;/NeverEmbed [/Courier /Courier-Bold /Courier-Oblique /Courier-BoldOblique /Helvetica /Helvetica-Bold /Helvetica-Oblique /Helvetica-BoldOblique /Times-Roman /Times-Bold /Times-Italic /Times-BoldItalic /Symbol /Arial]&gt;&gt; setdistillerparams&quot;" />
    <add key="ghostscriptWatermarkArgumentsOriginal" value=" -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dCompressFonts=true  -dSubsetFonts=true  -dNOPAUSE -dQUIET -dBATCH  -c &quot;.setpdfwrite &lt;&lt;/NeverEmbed [ ]&gt;&gt; setdistillerparams&quot; " />
    <add key="ghostscriptWatermarkFilePath" value="\\vm-nautilus\nautilus-share\Extensions\watermark.ps" />
    <add key="ghostscriptTiffArguments" value="-sDEVICE=tiffg4 -dNOPAUSE -dQUIET -dBATCH  " />
    <add key="faxServerName" value="VM-RR" />
   
    <!--For using fax set value True (key="UseFax" value="True")-->
    <add key="UseFax" value="FALSE" />
    <add key="ManagedProvider" value="FALSE" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>